.image-to-show {
   display: none;
}

.image-to-show.active {
   display: block;
}

.btn {
   color: white;
   outline: 0;
   border: 0;
   padding: 10px 28px;
   text-align: center;
   margin-top: 10px;
   font-size: 20px;
   cursor: pointer;
}


.btn-stop {
   background-color: red;

}

.btn-stop:hover {
   background-color: rgb(165, 13, 13);
}

.btn-stop:active {
   background-color: rgb(117, 9, 9);

}

.btn-start {
   background-color: green;

}

.btn-start:hover {
   background-color: rgb(7, 104, 7);

}

.btn-start:active {
   background-color: rgb(3, 70, 3);

}