*,
*:before,
*:after {
   box-sizing: border-box;
}

input {
   border: 0;
   outline: 0;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   font-family: 'Ubuntu', sans-serif;
   font-weight: normal;
   font-size: 14px;

}

.wrapper {
   background: url(../img/bg.jpg) no-repeat top / cover;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.form-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 124px;
   padding-bottom: 62px;
}



.header {
   padding: 18px 79px;
   background: rgba(0, 0, 0, 0.4);
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   color: #FFFFFF;
   z-index: 1;
}

.header-logo {
   font-weight: bold;
   font-size: 22px;
   transition: color .3s;
   -webkit-transition: color .3s;
   -moz-transition: color .3s;
   -ms-transition: color .3s;
   -o-transition: color .3s;
   cursor: pointer;
}

.auth-link,
.nav-icon path {
   transition: color .3s;
   -webkit-transition: color .3s;
   -moz-transition: color .3s;
   -ms-transition: color .3s;
   -o-transition: color .3s;
}


.header-logo:hover,
.auth-link:hover {
   color: #3CB878;
}

.nav-icon {
   margin-right: 25px;
   transition: all .3s;

}

.nav-icon:hover path {
   fill: #3CB878;
}


.header-nav {
   display: flex;
   align-items: center;
}



.nav-text {
   position: relative;
   display: inline-block;
   padding-left: 27px;

}

.nav-text::before {
   content: "";
   display: inline-block;
   border-left: 1px solid rgba(255, 255, 255, 0.9);
   opacity: 0.5;
   width: 1px;
   height: 19px;
   top: -2px;
   left: 0;
   position: absolute;
}

.log-in-text {
   transition: color .3s;
   -webkit-transition: color .3s;
   -moz-transition: color .3s;
   -ms-transition: color .3s;
   -o-transition: color .3s;
   cursor: pointer;
}

.log-in-text:hover {
   color: #01813F;
}

.form-section {
   width: 444px;
   margin: 0 auto;
   background: #FFFFFF;
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
   padding: 30px 60px 38px 60px;
   position: relative;
}

.form-section:before {
   content: "";
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0px;
   top: 29px;
   display: inline-block;
   background: #3CB878;

}

.form-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}

.sign-up-text {
   font-weight: normal;
   font-size: 20px;
   color: #434343;
}

.log-in-text {
   font-weight: normal;
   font-size: 14px;
   color: #3CB878;
}

.btn-link {
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   color: #FFFFFF;
   padding: 15px 20px;
   display: inline-block;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   display: flex;
   align-items: center;
   height: 48px;
   width: 160px;
}

.btn-link img {
   margin-right: 18px;
}

.btn-link span {
   position: relative;
   padding-left: 18px;
}

.btn-link span:after {
   content: "";
   position: absolute;
   display: inline-block;
   width: 1px;
   height: 28px;
   left: 0px;
   top: 50%;
   background: #2B0D09;
   opacity: 0.1;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}

.facebook-link {
   background: #305DB8;
   transition: all .3s;
   -webkit-transition: all .3s;
   -moz-transition: all .3s;
   -ms-transition: all .3s;
   -o-transition: all .3s;
}

.google-link {
   background: #DF4A32;
   transition: background .3s;
   -webkit-transition: background .3s;
   -moz-transition: background .3s;
   -ms-transition: background .3s;
   -o-transition: background .3s;
}

.facebook-link:hover {
   background: #022263;
}

.google-link:hover {
   background: #AB1F09;
}

.social-buttons {
   display: flex;
   justify-content: center;
   column-gap: 8px;
   margin-bottom: 41px;
}

.form-line {
   text-align: center;
}

.form-line {
   text-align: center;
   font-weight: normal;
   color: #848484;
   padding-left: 5px;
   padding-right: 5px;
   position: relative;
   margin-bottom: 13px;

}

.form-line::after,
.form-line::before {
   content: "";
   position: absolute;
   width: 152px;
   height: 1px;
   background: #F2F2F2;
   top: 8px;
   display: inline-block;

}

.form-line::before {
   left: 0;
}

.form-line::after {
   right: 0;
}

.form-field {
   padding: 16px 20px;
   width: 100%;
   margin-bottom: 15px;
   background: #FFFFFF;
   border: 1px solid #F2F2F2;
   border-radius: 4px;
   color: #434343;
}

.form-field::placeholder {
   color: #BEBEBE;
}

.form-field:focus {
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.terms-agree-link {
   color: #3CB878
}

.checkbox {
   display: none;
}

.checkbox-label {
   position: relative;
   display: inline-block;
   padding-left: 28px;
}

.checkbox-label::before {
   content: '';
   position: absolute;
   display: inline-block;
   top: -3px;
   left: 0;
   width: 20px;
   height: 20px;
   background: rgba(0, 0, 0, 0.0001);
   border: 1px solid #F2F2F2;
   /* background: url(../img/checkbox.svg) no-repeat center / contain; */
}



.checkbox:checked+.checkbox-label::before {
   background: url(../img/checkbox2.svg) no-repeat center / contain;
   border: 1px solid #F2F2F2;
}

.checkbox:checked+.checkbox-label a {
   color: #01813F;
   border-bottom: 1px solid #01813F;
   margin-bottom: 2px;
}


.submit {
   margin-top: 20px;
   width: 100%;
   padding: 16px 99px;
   background: rgba(60, 184, 120, 0.8);
   border-radius: 4px;
   color: #FFFFFF;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
   transition: background .8s;
   -webkit-transition: background .8s;
   -moz-transition: background .8s;
   -ms-transition: background .8s;
   -o-transition: background .8s;
}

.submit:hover {
   background: #01813F;
}