*,
*:before,
*:after {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   font-size: 18px;
   color: #FFFFFF;
}

.container {
   max-width: 1030px;
   margin: 0 auto;
}

.wrapper {
   background: url(../img/background.jpg) no-repeat center / cover;
}

.header {
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
   margin-bottom: 20px;
   align-items: center;
}

.header-logo {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.header-contacts {
   text-align: right;
}

.header-contacts a {
   display: block;
}

.logo-img {
   background: url("../img/logo.png") no-repeat center;
   width: 53px;
   height: 47px;
   margin-right: 8px;
   display: inline-block;
}

.header-logo:hover .logo-img {
   background: url("../img/logo_hover.png") no-repeat center;
   width: 53px;
   height: 47px;
   margin-right: 8px;
   display: inline-block;
   color: #F26522;
}

.header-logo:hover .logo-title span {
   color: #F26522;
}



.header-contacts:hover a {
   color: #F26522;
}

.logo-title span:first-child {
   font-weight: bold;
   font-size: 29px;
   line-height: 29px;
   color: #FFFFFF;
   text-transform: uppercase;
   margin-bottom: 4px;
}

.logo-title span {
   display: block;
}

.logo-title span:last-child {
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   color: #FFFFFF;
   text-transform: uppercase;
}



.contacts-email {
   margin-bottom: 20px;
}

.gallery {
   display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
   grid-template-columns: repeat(auto-fit, 300px);
   justify-content: center;
   column-gap: 60px;
   row-gap: 37px;
   margin-bottom: 50px;
}

.gallery-item {
   display: block;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.gallery-item-img {
   width: 300px;
   height: 220px;
   border: 7px solid transparent;
   border-image: linear-gradient(#e5e5eb, #151616);
   -moz-border-image: -moz-linear-gradient(#e5e5eb, #151616);
   -webkit-border-image: -webkit-linear-gradient(#e5e5eb, #151616);
   border-image-slice: 1;
}

.details_price-from {
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 10px;
   margin-bottom: 8px;
}

.gallery-details {
   position: absolute;
   width: 100%;
   bottom: -1000px;
   left: 0;
   padding: 7px 14px 12px 16px;
   background: #F26522;
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;

}

.gallery-item-wrapper:hover .gallery-details {
   bottom: 0;
}

.gallery-item-wrapper:hover .gallery-item-title {
   color: #F26522;
}

.details_price {
   font-weight: normal;
   font-size: 20px;
   line-height: 20px;
}

.details_view {
   font-weight: normal;
   font-size: 14px;
   line-height: 14px;
}

.details_view::after {
   content: "";
   width: 8px;
   height: 8px;
   border-top: 2px solid #fff;
   border-right: 2px solid #fff;
   transform: rotate(45deg);
   margin-left: 16px;
   display: inline-block;
   color: #F26522;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
}

.details-info {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.gallery-item-title {
   text-align: center;
   margin-top: 20px;
}

.footer {
   text-align: center;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
   padding-bottom: 15px;
}