.items {
   padding: 10px;
   width: 500px;
   margin: 0 auto;
   color: rgb(45, 17, 71);
   background: rgb(226, 185, 221);
   border: 3px solid rgb(160, 116, 201);
   list-style: none;
   text-align: center;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   margin-bottom: 10px;
}