*,
*:before,
*:after {
   box-sizing: border-box;
}


body {
   width: 100%;
   height: 100%;
   background: #000;
   overflow: hidden;
}

.fade {
   position: relative;
   width: 100%;
   min-height: 60vh;
   top: -25px;
   background-image: linear-gradient(0deg, transparent, black 75%);
   z-index: 1;
}

.star-wars {
   display: flex;
   justify-content: center;
   position: relative;
   height: 800px;
   color: #feda4a;
   font-family: 'Pathway Gothic One', sans-serif;
   font-size: 500%;
   font-weight: 600;
   letter-spacing: 6px;
   line-height: 150%;
   perspective: 400px;
   text-align: justify;
}

.crawl {
   position: relative;
   top: 99999px;
   transform-origin: 50% 100%;
   animation: crawl 30s linear infinite;
   -webkit-animation: crawl 30s linear infinite;
}



.crawl>.title {
   font-size: 90%;
   text-align: center;
   text-transform: uppercase;
}

.crawl>.title h1 {
   margin: 0 0 100px;
   text-transform: uppercase;
}

.crawl-second {
   margin-top: 40px;
}

@keyframes crawl {
   0% {
      top: -100px;
      transform: rotateX(20deg) translateZ(0) scaleX(1);
      -webkit-transform: rotateX(20deg) translateZ(0) scaleX(1);
      -moz-transform: rotateX(20deg) translateZ(0) scaleX(1);
      -ms-transform: rotateX(20deg) translateZ(0) scaleX(1);
      -o-transform: rotateX(20deg) translateZ(0) scaleX(1);
   }

   100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px) scaleX(1.5);
      -webkit-transform: rotateX(25deg) translateZ(-2500px) scaleX(1.5);
      -moz-transform: rotateX(25deg) translateZ(-2500px) scaleX(1.5);
      -ms-transform: rotateX(25deg) translateZ(-2500px) scaleX(1.5);
      -o-transform: rotateX(25deg) translateZ(-2500px) scaleX(1.5);
   }
}