.wrapper {
   margin: 0 auto;
   width: 600px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 30px;
   font-weight: 700;
}

.inputField {
   margin: 40px auto;
   width: 450px;
   padding: 20px;
   background-color: rgb(236, 247, 81);
   color: black;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.price {
   margin-left: 5px;
   padding: 5px;
   font-weight: 700;
   border: 2px solid white;
   outline: 0;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
}

.closebtn {
   background: url(./close.png) no-repeat center / cover;
   width: 30px;
   height: 30px;
   display: inline-block;
   margin-left: 10px;
   cursor: pointer;
}