ul {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.item {

   text-align: center;
   width: 600px;
   list-style: none;
   background-color: rgb(245, 245, 245);
   -webkit-box-shadow: 0px -28px 14px -26px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px -28px 14px -26px rgba(34, 60, 80, 0.2);
   box-shadow: 0px -28px 14px -26px rgba(34, 60, 80, 0.2);
   margin-bottom: 40px;
   padding: 30px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-style: 30px;
   font-weight: bold;
   transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
}

.item:hover {
   transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
   -moz-transform: translateY(-10px);
   -ms-transform: translateY(-10px);
   -o-transform: translateY(-10px);
   background-color: rgb(224, 222, 222);
}